* {
  box-sizing: border-box;
}
.page{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.square-ext{
  width: 100px;
  height: 100px;
  border-top-left-radius: 100%;
  border:1px solid black;
  cursor: pointer;
  
}


.square-int{
  background-color: white;
  width: 50px;
  height: 50px;
  border-top-left-radius: 100%;
  position: absolute;
  top: 50px;
  left: 50px;
  
}
.red{
  background-color: red;
 
}

.blue{
  background-color: blue;
  transform: rotateZ(90deg);
}
.yellow{
  background-color: yellow;
  transform:  rotateZ(-90deg) translate(-100px,-200px);  
}
.green{
  background-color: green;
  transform:  rotateZ(180deg) translate(200px,-100px);
}